<!DOCTYPE html>
<html>
  <head>
    <title>API Warehouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css", as: 'style', media: 'all' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/prismjs@1.24.1/themes/prism.css', as: 'style', media: 'all' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js', as: 'script' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/json.min.js' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/prismjs@1.24.1/prism.min.js' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/prismjs@1.24.1/components/prism-json.min.js' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js' %>
    <script>
      hljs.highlightAll();
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        new ClipboardJS('.btn');
      });
    </script>
  </head>
  <body>
    <%= render partial: 'shared/navbar' %>
    <%= yield %>
    <%= render partial: 'shared/flashes' %>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
